<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <title>疫情监控</title>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/echarts/echarts.min.js"></script>
    <script src="../static/js/echarts/echarts-wordcloud.min.js"></script>
    <script src="../static/js/echarts/dark.js"></script>
    <script src="../static/js/echarts/china.js"></script>
    <link href="../static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="title">全国疫情实时追踪</div>
    <div id="time">时间</div>
    <div id="total">总量</div>
    <div id="add">新增</div>
    <div id="keyword">
      <div class="num">
        <h1>XXX</h1>
      </div>
      <div class="num">
        <h1>XXX</h1>
      </div>
      <div class="num">
        <h1>XXX</h1>
      </div>
      <div class="num">
        <h1>XXX</h1>
      </div>
      <div class="txt">
        <h2>累计确诊</h2>
      </div>
      <div class="txt">
        <h2>现有疑似</h2>
      </div>
      <div class="txt">
        <h2>累计治愈</h2>
      </div>
      <div class="txt">
        <h2>累计死亡</h2>
      </div>
    </div>
    <div id="map">地图</div>
    <div id="rank">排名</div>
    <div id="hot">热词</div>
    <script src="../static/js/echarts/option/ec_map.js"></script>
    <script src="../static/js/echarts/option/ec_total.js"></script>
    <script src="../static/js/echarts/option/ec_add.js"></script>
    <script src="../static/js/echarts/option/ec_rank.js"></script>
    <script src="../static/js/echarts/option/ec_hot.js"></script>

    <script src="../static/js/controller.js"></script>
  </body>
</html>
